/* Main Container */
.main-add-money-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 30px;
}

/* Left Side */
.add-money-container {
    width: 45%;
    padding: 20px;
    margin-top: 10px;
}

.add-money-container h3 {
    font-weight: bold;
    color: var(--purple);
}

/* Right Side */
.add-envelope-container {
    width: 45%;
    padding: 30px 30px 50px 30px;
    background-color: var(--light-green);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 8px;
    text-align: center;
}