@use '../../util' as util;

.envelope {
	&-container {
		@include util.flex($dir: column, $align: center, $x-align: flex-start, $gap: 30px);
		width: calc(100vw - 100px);
		margin: 40px 0px 40px 40px;
		
	}

	&-row {
		@include util.flex($dir: row, $align: flex-start, $x-align: flex-start, $gap: 20px);
		justify-items: center;
		overflow-x: auto;
		width: calc(100vw - 100px);
		background-image: linear-gradient(to right, #eeeeee, #e0e0e0);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

		&-group {	
			@include util.flex($dir: column, $align: center, $x-align: flex-start, $gap: 15px);
		}
	}

	&-header {
		border-radius: 5px 5px 0px 0px;
		min-width: 275px;
		height: 15px;;

		&-envpage {
			position: absolute;
			top: 0px;
			right: 0.75px;
		}

		&-good {
			@extend .envelope-header;
			background-color: #00e676;
		}
		&-warning {
			@extend .envelope-header;
			background-color: #ffc400;
		}
		&-danger {
			@extend .envelope-header;
			background-color: #ff1744;
		}
	}

	&-card {
		flex: 0 0 auto;

		width: 15%;
		padding: 70px 30px;
		background-color: var(--light-green);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
		border-radius: 8px;
		text-align: center;
	}

	&-title {
		font-size: 3em;
		font-weight: 600;

		&-group {
			@include util.flex($dir: row, $align: center, $x-align: flex-start, $gap: 15px);
		}
	}

	&-subtitle {
		font-size: 2em;
		font-weight: 500;
		// lol
		&-sub {
			font-size: 1.5em;
			font-weight: 400;
		}
	}

	&-hr {
		border-top: 1px solid #eeeeee;
		width: 100%;
		max-width: 400px; margin-left:0;
	}
}

