@use '../../util' as util;

.envelope {
	&-container {
		@include util.flex($dir: column, $align: center, $x-align: flex-start, $gap: 10px);
		overflow-x: auto;
		width: 100vw;
		margin-top: 30px;
	}

	&-row {
		@include util.flex($dir: row, $align: flex-start, $x-align: flex-start, $gap: 20px);
		justify-items: center;
		overflow-x: auto;
		width: 100vw;
	}

	&-card {
		flex: 0 0 auto;

		width: 15%;
		padding: 70px 30px;
		background-color: var(--light-green);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
		border-radius: 8px;
		text-align: center;
	}
}

